.header {
    position: fixed;
    width: 100%;
    height: 90px;
}

.header_height {
    height: 55px;
}

body {
    text-align: center;
    font-family: "Courier New", serif;
    -webkit-font-smoothing: antialiased;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightpink;
}

.sr {
    overflow: auto;
    height: 500px;
    text-align: left;
}

.sr thead tr {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #eee;
}


