{% extends "base.html" %}

{% block title %}RedDictio{% endblock %}

{% block body %}
    <!-- Instructions -->
    <p>Click on the row to see all posts from that subreddit</p>


    <div class="content">

        <div class="row ">
            <div class="col-3"></div>
            <div class="col">

                <div class="chart-container row h-100">
                    <canvas id="myChart"></canvas>
                </div>

            </div>
            <div class="col-3"></div>
        </div>

    </div>




    <script>
        var chartData = {
            labels: [{% for subreddit in subreddits %}
                "{{ subreddit.subreddit_name }}",
            {% endfor %}],
            datasets: [{
                label: '% confidence of containing potential hate',
                data: [{% for subreddit in subreddits %}
                    {{ "%.5f" % ((1 - subreddit.hate_level) * 100) }},
                {% endfor %}],
                borderWidth: 1
            }]
        };
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    },
                    onClick: function (e) {
                        var activePoints = myChart.getElementsAtEvent(e, 'nearest', { intersect: true }, true);
                        var firstPoint = activePoints[0];
                        console.log(firstPoint)
                        window.open("/post/filler_text/" + (firstPoint._index + 1), "_self");

                    }
                }
            }
        );

    </script>


{% endblock %}