{% extends "base.html" %}

{% block title %}RedDictio{% endblock %}

{% block body %}

    <!-- Subreddit Chart -->
    <div class="content chart">
        <div class="row">
            <div class="chart-container row h-100">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        var chartData = {
            labels: [{% for subreddit in subreddits %}
                "{{ subreddit.subreddit_name }}",
            {% endfor %}],
            datasets: [{
                label: '% confidence of containing potential hate',
                data: [{% for subreddit in subreddits %}
                    {{ "%.5f" % ((1 - subreddit.hate_level) * 100) }},
                {% endfor %}],
                borderWidth: 1
            }]
        };
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: chartData,
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    },
                    onClick: function (e) {
                        var activePoints = myChart.getElementsAtEvent(e, 'nearest', {intersect: true}, true);
                        var firstPoint = activePoints[0];
                        window.open("/post/" + firstPoint._view['label'], "_self");
                    }
                }
            }
        );

    </script>



{% endblock %}