{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block body %}
    <div class="content">
        <!-- Instructions -->
        <p>Remember this is just the likelihood of hateful language, not a guarantee one way or another</p>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <h3>Post Title</h3>
                <p>{{ post_title }}</p>
                <div class="sr">
                    <table class="displayDB" id="comment">
                        <thead>
                        <tr>
                            <th>Comment</th>
                            <th>Neural Network's perceived <br>likelihood of potential hate</th>
                        </tr>
                        </thead>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.comment_text }}</td>
                                <td>
                                    {% if comment.comment_hate != None %}
                                        {{ "%.2f" % ((1 - comment.comment_hate) * 100) }}%
                                    {% else %}
                                        Data Unavailable
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-3"></div>
        </div>

    </div>


{% endblock %}