{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block body %}
    <!-- Instructions -->
    <p>Click on the row to see all comments from that post</p>
    <div class="content posts">

        <div class="row">
            <div class="col-3"></div>
            <div class="col posts_table">
                <div class="sr">
                    <table class="displayDB" id="post">
                        <thead>
                        <tr>
                            <th>r/{{ subreddit_name }} Post Title</th>
                            <th>Percent of comments flagged <br>for potentially hateful
                                language
                            </th>
                        </tr>
                        </thead>
                        {% for post in posts %}
                            <tr onclick="window.location='/comment/{{ post.post_id }}'">
                                <td>
                                    {{ post.post_title }}
                                </td>
                                <td>
                                    {% if post.hate_level != None %}
                                        {{ "%.2f" % ((1 - post.hate_level) * 100) }}%
                                    {% else %}
                                        Data Unavailable
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-3"></div>
        </div>

    </div>


{% endblock %}